body{
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

.header-cnt {
     border-bottom: 1px solid #e7e9fc;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header-nav {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-container{
    display: flex;
}

.nav-father{
    display: flex;
    align-items: center;
}

.header-word{
    color: #2e2f42;
}
.header-list{
    display: flex;
    gap: 40px;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2e2f42;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-link:hover,
.header-link:focus {
    color: #404bbf;
}

.header-link:active{
    color: #404bbf;
}

.header-contact{
    font-style: normal;
    margin-left: auto;
}

.header-contact-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.address-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    text-decoration: none;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.address-list:hover,
.address-list:focus {
    color:#404bbf;
}

.main-section {
    background-color: #2e2f42;
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
}

.main-head{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin: 0 auto;  
    max-width: 496px;  
}

.main-sct {
    background-color: #F4F4FD;
    color: #f4f4fd;
}

.main-section{
    text-align: center;
}

.main-button{
    cursor: pointer;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block;
    min-width: 169px;  
    height: 56px;
    border-radius: 4px;
    border: none;  
    padding: 16px 32px;
    margin: 0 auto;
    margin-top: 48px;
}

.main-button:hover,
.main-button:focus{
    background-color: #404bbf;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
    clip-path: inset(100%);
}

.main-subtitle{
    font-weight: 500;
    font-size: 20px; 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.main-list-item {
    width: 264px;
}

.main-text{
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.main-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-title{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    width: 264px;
}

.team-list-item {
    background-color: #FFFFFF;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.team-item-group {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-command {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
    justify-content: center;
}

.team-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}



.portfolio-title{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;    
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item{
    width: calc((100% - 48px) / 3);
    border: 1px solid #e7e9fc;
}

.portfolio-group {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 16px;
    padding-left: 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

footer{
    background-color: #2e2f42;
    padding-bottom: 100px;
    padding-top: 100px;
}
.footer-link{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    display: inline-block; 
    margin-bottom: 16px;   
}

.footer-word{
    color: #f4f4fd;
}
.footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}